# don't remove this comment line or roxygen2 will have its way

# load both dll's, but make sure useDynLib for ngft comes before libfftw3-3
# Note useDynLib uses library.dynam
#useDynLib(ngft, .registration = TRUE)
useDynLib(ngft)
# load libfftw in .onLoad instead of via useDynLib
#useDynLib("libfftw3-3")

#exportPattern("^[[:alpha:]]+")
export("fst","ifst")
