# don't remove this comment line or roxygen2 will have its way
# load libfftw3 before seismic.ts.
useDynLib("libfftw3-3")
#useDynLib(ngft, .registration = TRUE)
useDynLib(ngft)

#exportPattern("^[[:alpha:]]+")
export("fst","ifst")
